.ModalBackground {
  background: rgba(32, 26, 21, 0.8); /* Oscurece el fondo */
  position: fixed; /* CLAVE: Flota sobre la pantalla, no sobre el contenido */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); 
}